*,h1, h2, h3, h4, h5, h6{
    scroll-behavior: smooth;
      color:white;
}


nav a{
    font-family: Amaranth;
}
h1,h2{
    font-family:Acme;
    font-size: 50px;
}
#heading{
    font-size:60px;
}
img[src="https://cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png"]{
    display:none;
}
button,img,.rounded-circle{
    box-shadow:0px 0px 10px white;
        font-family:Acme;

}
button[type="submit"]{
            font-family:Amaranth;

}
h1,h2{
     text-shadow:0px 0px 5px greenyellow;
   
   
}
h2{
    font-size: 40px;  
}
p{
    font-size: large;
    font-family:Amaranth;
    text-align: left;
   
}
nav{
    position: fixed;
    top:0;
    width: 100%;
    z-index:100;
}


.bigimg{
    width:100%;

}

@media(max-width:1024px){

    #clubs{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:100%;
      
    }
     .card{
        margin: 10px;
        width:100%;
    }
    .card-img-top{
        width:100%;
        padding:0;
    }
    #heading{
        font-size:50px;
    }


}